<h1>GAME OVER</h1>
<h2>FINAL SCORES:</h2>
<div class="row">
<div v-for="player of players" class="col-sm-2 text-center">
<div class="player">
        <p>{{player.name}}</p>
        <p>{{player.score}}</p>
</div>
</div>
</div>